[Desktop Entry]
Name=Riff-Diff
Comment=Visual diff tool for Guitar Pro files
Exec=riff-diff
Icon=com.andiman5000.riffdiff
Type=Application
Categories=Audio;Music;Utility;
Terminal=false
StartupNotify=true
MimeType=application/x-guitarpro;
